{% extends "base.html.twig" %}

{% block title  %}
    Anasayfa
{% endblock %}

{% block body %}
    <center>

         üyenin listeleneceği yer <br>

        <b>{{ profiller.username }}</b>
        <br>
        <a href="">Takip Et</a><br>
            Kullanıcının yazdığı yazılar
        <hr><br>
        {% for y in profiller.yazilar  %}

            {{ y.icerik }}

            {% if y.user == app.user %}
                <a href="{{ path('blog_yazi_sil',{'id':y.id })}}">Yazimi Sil</a>
            {% endif %}<br>


        {% endfor %}

    </center>
{% endblock %}